body {
  font-family: "Noto Sans Georgian", sans-serif;
  color: #fff;
}
.main {
  background-image: url(../images/dark-sky.jpg);
  background-size: cover;
  max-width: 100%;
}

.weather-app {
  max-width: 800px;
  padding: 20px 25px;
  margin: 0 auto;
}
.main-display,
.weather-forecast {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.main-display {
  padding: 25px 25px 25px 20px;
}

.weather-forecast {
  padding: 20px 20px 20px;
}

form {
  margin-bottom: 20px;
}

h1 {
  font-size: 25px;
  font-weight: 300;
}
p {
  margin: 0;
}

.current-weather-description {
  text-align: center;
  font-weight: 300;
}
.current-temperature {
  font-size: 80px;
  text-align: center;
}
.current-city-temperature-block,
.description-block {
  padding: 20px 0;
}

.units {
  position: relative;
  top: -50px;
  font-size: 20px;
}

ul {
  list-style: none;
  line-height: 30px;

  padding-bottom: 20px;
  padding-top: 20px;
}

.feels-like-units {
  position: relative;
  top: -5px;
  font-size: 13px;
}

.card {
  background: rgba(74, 144, 226, 0.1);
}
.card:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: rgba(74, 144, 226, 0.3);
}

h2 {
  color: #ff6100;
  font-size: 23px;
}

.forecast-temperatures {
  margin: 5px;
  font-size: 18px;
}

.card-night-temperature {
  opacity: 0.6;
}

.active {
  cursor: default;
  color: #fff;
  text-decoration: none;
}

footer {
  font-weight: 300;
  text-align: center;
}

@media (max-width: 721px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  ul {
    padding-top: 0;
  }

  .weather-app,
  .form-control,
  .btn {
    font-size: 14px;
  }

  .main-display {
    padding: 25px 25px 0 20px;
  }

  .current-temperature {
    font-size: 60px;
  }

  .units {
    top: -35px;
    font-size: 15px;
  }

  .forecast-temperatures {
    font-size: 16px;
  }
}

@media (max-width: 645px) {
  .current-temperature {
    font-size: 50px;
  }

  .units {
    top: -30px;
    font-size: 13px;
  }
}

@media (max-width: 610px) {
  h2 {
    font-size: 12px;
  }
  .forecast-temperatures {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  footer {
    font-size: 12px;
  }

  .current-weather-description {
    position: relative;
    top: -30px;
  }

  .current-city-temperature-block {
    padding: 40px 0;
    position: relative;
    left: -20px;
  }
  .description-block {
    padding: 0;
  }

  .card-body {
    padding: 10px 000;
  }
}
